# Terraform local state

*.tfstate
*.tfstate.*

# Logs/crash

crash.log
crash.*.log

# Initialization and variables files

.terraform/
.terraform.lock.hcl

*.tfvars
*.tfvars.json
!terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

*.tfplan